*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#eceffe, #ced6fb);
}
.card-wrapper{
  max-width: 1100px;
  margin: 0 60px;
  padding: 20px;
  overflow: hidden;
}
.card-list .card-item{
   list-style: none;
}
.card-list .draggong .card-link{
    user-select: none;
    cursor: grab;
}
.card-wrapper i{
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-wrapper i:first-child{
    left: -22px;
}
.card-wrapper i:last-child{
    right: -22px;
}
.card-list .card-item{
    list-style: none; 
    width: 240px;
    margin: 0 6px;
}
.card-list .card-item .card-link{
    display: block;
    user-select: none;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.card-list .card-item .card-link:hover{
    border-color: #5372f0;
}
.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}
.badge{
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 12px;
}
.card-title{
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
}
.card-button{
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: all 0.3s ease;
}
.card-list .card-link:hover .card-button{
    color: #fff;
    background: #5372f0;
}
.card-wrapper .swiper-pagintation-bullets{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372f0;
}
.card-wrapper .swiper-pagintation-bullets-active{
  opacity: 1;
}
.card-wrapper .swiper-slide-button{
    color: #5372f0;
    margin-top: -35px;
}
